/* Modal Overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

/* Modal Container */
.modal-container {
    background-color: #272727;
    border-radius: 10px;
    padding: 20px;
    max-width: 500px;
    border: 5px dashed transparent; /* Set the border style to dashed and color to transparent */
    border-image: linear-gradient(90deg,#7c65a9, #3fdda7, #7c65a9, #3fdda7)1;
    
    width: 100%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
}

/* Modal Header */
.modal-header {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: bold;
    
    justify-content: center;
    background-color: #ff0022;
    /*ba1b1d;*/
    
}
.modal-image {
    margin-bottom: 10px;
}
.header-text {
    margin-top: 10px;
    color: #FEFEFE;
}
.disclaimer-text {
    color: #000000;
    z-index: 999;
    padding: 5px;
}
.age-disclaimer {
    background-color: #FEFEFE;/* #FFE74C #FED766;*/
   
}
/* Modal Content */
.modal-content {
    font-size: 14px;
    margin-bottom: 20px;
    color: #b3b3b3;
}

/* Modal Buttons */
.modal-buttons {
    margin: 20px;
    display: flex;
    justify-content: space-around;
}

.modal-button-yes {
    width: 150px;
    height: 60px;
    background-color: #3fdda7;
    color: #ffffff;
    /*border: 1px solid #7c65a9;*/
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal-button-no {
    width: 150px;
    height: 60px;
    background-color: #7c65a9;
    color: #ffffff;
    /*border: 1px solid #3fdda7;*/
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal-button:hover {
    filter: brightness(90%);
}

/* Modal Footer */
.modal-footer {
    font-size: 12px;
    color: #757575;
    margin-top: 20px;
}

/* Dark Mode Footer */
.dark-mode .modal-footer {
    color: #bdbdbd;
}

/* Animations */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOutDown {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(20px);
    }
}